button:hover{
    border: none;
    color: white;
    background-color: black;
    padding: 128px 128px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17pt;
    margin: 20px 2px;
    cursor:pointer;
    transition-duration: 2s;
}

h2{
    font-weight:2;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: grey;
}
